.my-map {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.my-map .icon {
    background: url(http://lbs.amap.com/console/public/show/marker.png) no-repeat;
}

.my-map .icon-cir {
    height: 31px;
    width: 28px;
}

.my-map .icon-cir-red {
    background-position: -11px -5px;
}

.amap-container {
    height: 100%;
}
